*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Poppins', sans-serif;
  --text-color: #303030;
  --color-global:#065E7C;
  --hue: 236;
  --primary-color: hsl(var(--hue), 100%, 63%);
}

body {
  
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: rgb(120, 85, 208);
  margin-top: 27rem; 
  margin-bottom: 800px;
 
}

 .capaTile {
  position: absolute;
  color: #eee;
  width: 40.3rem;
  height: 18rem;
  top: 5rem;
  left:35rem;
  font-size: 10rem;
  font-family: 'Roboto', sans-serif;

}

.capaText {
  position: absolute;
  color: #eee;
  width: 59rem;
  height: 9.4rem;
  left: 36rem;
  top: 17rem;
  font-size: 4rem;
}

body * {
  font-family: var(--ff-primary);
}

#fonds{
  position: absolute;
  width: 50%;
  left: 35rem;
  background-color: rgb(0, 0, 0); 
  width: 800px;
  top: 230px;
  
}


/* esconder, quebrar linha dentro da caixa e permitir que a acessibilidade ainda possa ler o texto escondido (input usuário github) */
.sr-only{
  
  position: absolute;
  width: 1px;
  height: 1px;
  padding: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  padding: 2rem;
  max-width: 500px;
  margin: 0 auto;
}

header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  
  margin: 2.5rem 0;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.search {

display: flex;
align-items: center;
 
}

.search input {
  position: absolute;
  width: 46.2rem;
  height: 4.7rem;
  left: 292px;
  border: 1px solid #ccc;
  border-radius: .4rem 0 0 .4rem;
  padding: 0 .8rem;
  width: 32rem;
  background-color: #06181C;
  color: #7C7C8A;
}

.search button {
 background-color: #065E7C;
 border-radius: 5px;
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 width: 14.6rem;
 height: 4.8rem;
 left: 62rem;
 font-size: 1.4rem;
 color: #ffffff;
 padding: 1.2rem 3.2rem;
 gap: .8rem;
 

 transition: opacity .25s;
 cursor: pointer;
}

.search button:hover {
  filter: brightness(1.1);
}


.search button:focus .icon {
  opacity: 1;
  transition-delay: .5s;
 }

 .logo{
   position: absolute;
   left: 30px;
 }


table{
  
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 90px;
  left: 0px;
 
}

table * {
  font-size: 1.4rem;
  color: #E1E1E6;
 
}

table th{
 background-color: #092D38;
 text-align: left;
 font-weight: normal;
 padding: 1.5rem;

}

table th:first-child {
  border-top-left-radius: 1.2rem;
}

table th:last-child {
  border-top-right-radius: 1.2rem;
}

/* even = linhas (tr) pares */
table tr:nth-child(even){
  background-color: #06181C;
}

/* odd = linhas (tr) impas */
table tr:nth-child(odd) {
 background-color:  hsl(194, 50%, 6%);
} 

table td {
  
  padding: 1.5rem;
  text-align: left;
 
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img{
  width: 5rem;
  height: 5rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td .remove{
  background: none;
  border: none;

  color: #F75A68;

  cursor: pointer;
}